# Immutable data structure
1. String
2. Tuple

Accesing characters of string
1. by using index
2. by using slicing operators

In [4]:
s="lj university"
print(s[1])
print(s[-1])
print(s[5])
#print(s[20])   IndexError: string index out of range

j
y
i

syntax for slicing index
1. s[begin index:end index:step]
2. by default step=1

In [19]:
s="learning python is very easy!!"
print(s[1:7:1])
print(s[1:7:2])
print(s[1:7])
print(s[:7])
print(s[9:])
print(s[::])
print(s[:])
print(s[::-1])
print(s[-1:4])#no output
print(s[-1:4:-1])

earnin
eri
earnin
learnin
python is very easy!!
learning python is very easy!!
learning python is very easy!!
!!ysae yrev si nohtyp gninrael

!!ysae yrev si nohtyp gni

Mathematicial operators for string
1. + -> concatenation(+)
2. * -> repetition or string multiplication(*)

In [20]:
print("lucky"+"dhairya")
print("lucky"*3)

luckydhairya
luckyluckylucky

Comparision of string

In [25]:
s1=input("enter a 1st string = ")
s2=input("enter a 2nd string = ")
if s1==s2:
    print("both are string")
elif s1<s2:
    print("second is greater")
else:
    print("first is greater")

enter a string = hi
enter a string = 5
first is greater

Joining of string
1. s=separator.join(group of join)

In [27]:
t=("apple","banana","cheery")
s=",".join(t)
print(s)

apple,banana,cheery

Formatting of String

In [31]:
name="armaan"
salary=50000
age=24
print("{}'s salary is {} and his age is {}".format(name,salary,age))
print("{0}'s salary is {1} and his age is {2}".format(name,salary,age))
print("{2}'s salary is {1} and his age is {0}".format(name,salary,age))#we can change the order by giving index in{}
print("{}'s salary is {} and his age is".format(name,salary,age))

armaan's salary is 50000 and his age is 24
armaan's salary is 50000 and his age is 24
24's salary is 50000 and his age is armaan
armaan's salary is 50000 and his age is

Important functions of String
1. len()

In [32]:
a="lj university"
print(len(a))

13

2. Removing spaces from strip

1. rstrip()=it will remove space from right side and by defualt space will be removed

In [38]:
t="banana  "
x=t.rstrip()
print(len(t))
print(len(x))

8
6

2. lstrip=it will remove space from left side and by defualt space will be removed

In [39]:
t="  banana"
x=t.rstrip()
print(len(t))
print(len(x))

8
8

In [41]:
t="banana  "
x=t.rstrip("a")
print(x)

banana

In [42]:
t="banana"
x=t.rstrip("a")
print(x)

banan

In [43]:
t="banana"
x=t.rstrip("an")
print(x)

b

In [44]:
t="bandana"
x=t.rstrip("an")
print(x)

band

3. Strip=it will remove space from both side and by defualt space will be removed

In [47]:
t=" banana  "
x=t.strip()
print("from all fruit",x,"is my favourite")

from all fruit banana is my favourite

In [48]:
t="bandana"
x=t.lstrip("ban")
print(x)

dana

In [50]:
t=" bandana "
x=t.lstrip("ban")
print("from all fruit",x,"is my favourite")

from all fruit  bandana  is my favourite

3. Changing the case of String

1. Upper

In [52]:
t="hello friends"
x=t.upper()
print(x)

HELLO FRIENDS

2. Lower

In [53]:
t="hello friends"
x=t.lower()
print(x)

hello friends

3. swapcase()

In [58]:
t="My Name is PREYA"
x=t.swapcase()
print(x)

mY nAME IS preya

4. title()

In [59]:
t="Welcome to LJIET"
x=t.title()
print(x)

Welcome To Ljiet

5. Captialize

In [60]:
t="Learing Python is very easy"
x=t.capitalize()
print(x)

Learing python is very easy

1. to check type of charaters present in string(check format)
2. answer only in true or false

1. isalnum(a to z,A to Z,0 to 9) = 
returns true if all characters is alphabet or numeric

In [61]:
t="company 123"
x=t.isalnum()
print(x)

False

In [62]:
t="company"
x=t.isalnum()
print(x)

True

2. isalpha(a to z,A to Z) = returns true if all characters are alphabet

In [63]:
t="company"
x=t.isalpha()
print(x)

True

3. isdigit(0-9) or isnumeric() = returns true if all characters are digit minor change in digit and numeric

1. digit will work in 0-9,superscript and subscript
2. numeric will be all

In [64]:
t="500500"
x=t.isdigit()
print(x)

True

4. isupper()
5. islower()

In [65]:
t="hello world"
x=t.islower()
print(x)

True

In [70]:
t="HELLO WORLD"
x=t.isupper()
print(x)

True

6. istitle()

In [73]:
a="HELLO HOW ARE YOU?"
b="Hello"
c="22 Names"
d="This Is %!"
print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

7. isidentifier()

In [75]:
a="MyFolder"
b="Demo002"
c="2 demo"
d="my demo"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

8. isspace()

In [78]:
t=" "
x=t.isspace()
print(x)

True

In [87]:
s="Pyt@$h0%n is 12 Very Eas$y"
letters=0
digit=0
space=0
specialcase=0
uppercase=0
lowercase=0
for i in s:
    if i.isupper():
        uppercase=uppercase+1
    elif i.islower():
        lowercase=lowercase+1
    elif i.isdigit():
        digit=digit+1
    elif i.isspace():
        space=space+1
    elif i.isupper():
        uppercase=uppercase+1
    elif i.islower():
        lowercase=lowercase+1
    else:
        specialcase=specialcase+1
for i in s:
    if i.isalpha():
        letters=letters+1
print(letters)
print(digit)
print(space)
print(uppercase)
print(lowercase)
print(specialcase)

15
3
4
3
12
4

9. find()

1. find(substring)
2. find(substring,begin,end)

In [89]:
s="learning python is very easy"
print(s.find("a"))
print(s.find("a",3,100))#what will be index i.e answer
print(s.find("python"))
print(s.find("d"))

2
25
9
-1

10. count()

1. s.count(substring)
2. s.count(substring,begin,end)

In [19]:
s="abcdefabcabegh"
print(s.count("a",3,10))
#print(s.count("x")) NameError: name 'x' is not defined
print(s.count("h"))
print(s.count("a"))

2
1
3

11. replace() = s.replace(old String,new string)

In [20]:
s="learning java is very easy"
s1=s.replace("java","python")
print(s1)
s2=s.replace("a","b",2)
print(s2)

learning python is very easy
lebrning jbva is very easy

12.split()=s.split(separator)

In [27]:
s="LJ University"
s1=s.split()
print(s1)
print(len(s1))
s="10-04-2024"
s3=s.split("-")
print(s3)
s4=s.split("0")
print(s4)
s5=s.split("4")
print(s5)

['LJ', 'University']
2
['10', '04', '2024']
['1', '-', '4-2', '24']
['10-0', '-202', '']

13. remove punctuation using translator() function=translate() with maketrans function

In [29]:
import string
print(string.punctuation)
print(len(string.punctuation))

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
32

maketrons
- 3 argument version
- first two argument equal length strings
- thrid
- characters in string is mapped to none

In [42]:
import string
print(str.maketrans("","",string.punctuation))
print(str.maketrans(" "," ",string.punctuation))
print(str.maketrans("a","d",string.punctuation))
print(str.maketrans("a","d","$@"))
#print(str.maketrans("a","bc","$@")) ValueError: the first two maketrans arguments must have equal length

{33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}
{32: 32, 33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}
{97: 100, 33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}
{97: 100, 36: None, 64: None}

In [53]:
import string
s="learn@ing pyt$%h!on is very eas$y"
t=s.maketrans("a","b",string.punctuation)
#t=s.maketrans(" "," ",string.punctuation)
x=s.translate(t)
print(x)

lebrning python is very ebsy

In [58]:
t="hi Sam!!"
x="mSa"
y="eJo"
mytable=t.maketrans(x,y)
print(t.translate(mytable))

hi Joe!!

# Tuple

- exactly same as list except it is immutable
- tuple is read only version of list
- data is fixed and never changes then we should go for tuple
- insertion order is preserved
- duplicates are allowed
- heterogenous objects are allowed = in tuple tuple is also allowed as well as list is allowed 
- we can preserved insertions order and differentiation
- duplicates by using index
- index will play very important role in tuple also
- supports the +ve and -ve indexing
- represent tuple elements with () parenthesis and with comma separator

Creation of tuple

In [62]:
t=()
print(type(t))
t=(10)# type integer
print(type(t))
t=(10,)
print(type(t))
t=10,20,30,40
print(t)
t=tuple(range(10,20,2))
print(t)

<class 'tuple'>
<class 'int'>
<class 'tuple'>
(10, 20, 30, 40)
(10, 12, 14, 16, 18)

Accesing elements of tuple 
1. by using index

In [64]:
t=10,20,30,40,50,60
print(t[2])
print(t[0])
print(t[-1])
print(t[-5])
#print(t[10]) IndexError: tuple index out of range

30
10
60
20

2. by using slicing operator

In [66]:
t=10,20,30,40,50,60
print(t[2:5])
print(t[3:100])
print(t[3:])
print(t[1::2])
print(t[::2])
print(t[:3:2])
print(t[-1:-4])
print(t[-1:-4:-1])

(30, 40, 50)
(40, 50, 60)
(40, 50, 60)
(20, 40, 60)
(10, 30, 50)
(10, 30)
()
(60, 50, 40)

In [67]:
t=(10,20,30,40)
t[2]=70#doesnot allow to change the data
print(t)#TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [68]:
'''mathematical operator
+ -> concatenation
* -> repetition'''
t1=(10,20,30)
t2=(40,50,60)
t=t1+t2
print(t)
x=t1*3
print(x)

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [71]:
#1. len()
t=(10,20,30,40)
print(len(t))
#2. count()
t=(10,20,30,10,20,40,50,10,80)
print(t.count(10))
print(t.count(40))
print(t.count(60))
#3. index
t=(10,20,10,30,40,20)
print(t.index(10))
print(t.index(20))
#print(t.index(50)) ValueError: tuple.index(x): x not in tuple

4
3
1
0
0
1

In [78]:
#4. sorted()
t=(40,10,20,30)
#t1=sorted(t)
t1=sorted(t,reverse=True)
print(t1)# by default answer is in list not in tuple
#5. min() and max() function
t=(20,10,40,50,60)
print(min(t))
print(max(t))
t=("abc","ABC","def","dxz")
print(min(t))
print(max(t))

[40, 30, 20, 10]
10
60
ABC
dxz

In [82]:
# tuple packing
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)
#tuple unpacking
t=(10,20,30,40)
a,b,c,d=t
print(a,b,c,d)
t=(10,20,30,40)
#a,b,c=t
#print(a,b,c)ValueError: too many values to unpack (expected 3)

(10, 20, 30, 40)
10 20 30 40

In [84]:
# loop through tuple
t=("apple","banana","cheery")
for i in t:
    print(i)
for i in range(len(t)):
    print(t[i])

apple
banana
cheery
apple
banana
cheery

In [10]:
t=("apple","banana","cheery")
n=0
while n<len(t):
    print(t[n])
    n=n+1

apple
banana
cheery

In [64]:
 # reversed()
# computes reverse of a given sequence object and is in term of list
s="python"
print(list(reversed(s)))#by defualt list if you want to write tuple you can write it compulsory to write eitherlistortuple 
x=("p","y","t","h","o","n")
print(list(reversed(x)))
y=range(5,9)
print(list(reversed(y)))
z=[10,40,80,20,50]
print(list(reversed(z)))

['p', ' ', 'n', 'o', 'h', 't', 'y', 'p']
['n', 'o', 'h', 't', 'y', 'p']
[8, 7, 6, 5]
[50, 20, 80, 40, 10]

In [21]:
# enumerate
# enumerate(iterable,start=0)
l=("eat","sleep","walk")
print(list(enumerate(l)))
print(list(enumerate(l,10)))
s="geek"
print(list(enumerate(s)))
s="hello how are you"
for i in enumerate(s):
    print(i)
for i,j in enumerate(s):
    print(i,"->",j)

[(0, 'eat'), (1, 'sleep'), (2, 'walk')]
[(10, 'eat'), (11, 'sleep'), (12, 'walk')]
[(0, 'g'), (1, 'e'), (2, 'e'), (3, 'k')]
(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'h')
(7, 'o')
(8, 'w')
(9, ' ')
(10, 'a')
(11, 'r')
(12, 'e')
(13, ' ')
(14, 'y')
(15, 'o')
(16, 'u')
0 -> h
1 -> e
2 -> l
3 -> l
4 -> o
5 ->
6 -> h
7 -> o
8 -> w
9 ->
10 -> a
11 -> r
12 -> e
13 ->
14 -> y
15 -> o
16 -> u

In [4]:
# wap to remove ith character from the string
s="hello world"
i=int(input("enter the index"))
x=s[:i]+s[i+1:]
print(x)

enter the index6
hello orld

In [9]:
# wap to find all occurances of a substring in a given string by ignoring the keys
s="Welcome to USA usa is awesome usain is from Usa"
sub="usa"
n=s.lower()
print(n.count(sub))

4

In [21]:
#Wap to calculate sum and avg of the digits present in a string
s="pytA$123th%4237"
count=0
sum=0
for i in s:
    if i.isdigit():
        count=count+1
        sum=sum+int(i)
print(sum)
print(sum/count)

22
3.142857142857143

In [33]:
#wap to replace each special symbol with # in the given string
import string
s="pyt@$123th%4237"
for i in string.punctuation:
    s=s.replace(i,"#")
print(s)

pyt##123th#4237

In [36]:
#wap to print minimum and maximum element in a given tuple without use of min max function and 
#without sorting
t=[1,2,3,4]
min=t[0]
max=t[0]
for i in t:
    if i<min:
        min=i
    if i>max:
        max=i
print(max,min)

4 1

In [49]:
#wap to print even length words in a given string
s="welcome to LJ university"
a=s.split()
print(a)
for i in a:
    if len(i)%2==0:
        print(i)

['welcome', 'to', 'LJ', 'university']
to
LJ
university

In [57]:
# wap to uppercase a half string
s="University"
s="alone"
print(s[:len(s)//2].upper()+s[len(s)//2:])

ALone

In [82]:
#wap to to capitalize first and last letter of each word
s="Welcome to lj university"
s=s.title()
r=""
for i in s.split():
    r+=i[:-1]+i[-1].upper()+" "
print(r)

WelcomE TO LJ UniversitY

In [89]:
#wap to check two strings are balanced
#if all characters of s1 are present in s2
#characters position doesn't matter
s1=input("enter a 1st string = ")
s2=input("enter a 2nd string = ")
flag=0
for i in s1:
    if i in s2:
        continue
    else:
        flag=1
        break
if flag==0:
    print("balanced")
else:
    print("not balanced")

enter a 1st string = jeetx
enter a 2nd string = jeet
not balanced

In [95]:
'''input  input      input
n=12345   n=12345    n=12345
shift=3   shift=5    shift=6
output
result=45123 result=12345  result=54321'''
#wap to shift the decimal digits and places to the left wrapping the extra digits around
#if shift is> the no of digits then reverse the digits
n=int(input("enter number = "))
shift=int(input("enter shift = "))
n1=str(n)
r=0
if shift>len(n1):
    r=n1[::-1]
else:
    r=n1[shift::]+n1[:shift]
print(r)

enter number = 12345
enter shift = 6
54321